body {
    text-align: center;
}

#inPlay{
 z-index: 3;
}

#star{
 display: none; 
}

#playAgain{
 display: none; 
}

#wonGame{
 display: none;
}
#restartGame{
 display: none;
}
#resetGame{
 display: none;
}

#continueGame{
 display: none;
}

#score {
 float: right;
}
